{% extends "layout.html" %}

{% block title %}
    Add Password
{% endblock %}

{% block main %}
    <form action="/add_password", method="post">
        <div class="mb-3">
            <input type="text" name="website" placeholder="Website" autofocus class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="text" name="website_username" placeholder="Website Username" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="password" name="website_password" placeholder="Website Password" autocomplete="off" class="form-control mx-auto w-auto">
        </div>
        <input type="submit" class="btn btn-primary" value="Add">
    </form>
{% endblock %}