{% extends "layout.html" %}

{% block title %}
    Password Guy
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for item in passdata %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] | myreversehashing}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}