{% extends "layout.html" %}

{% block title %}
    Password Guy
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in passdata %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] | myreversehashing}}</td>
                <td><form action="/delete" method="post">
                    <input type="text" value="{{ item[0] }}" name="recordid" hidden>
                    <input type="submit" value="Delete" class="btn btn-primary">
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}