{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div>
        <form action="/login", method="post">
            <div class="mb-3">
                <input type="text" name="username" autofocus autocomplete="off" placeholder="Username" class="form-control mx-auto w-auto">
            </div>
            <div class="mb-3">
                <input type="password" name="password" autocomplete="off" placeholder="Password" class="form-control mx-auto w-auto">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}