{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div>
        <form action="/register" method="post">
            <div class="mb-3">
                <input type="text" name="username" autocomplete="off" autofocus placeholder="Username" class="form-control mx-auto w-auto">
            </div>
            <div class="mb-3">
                <input type="password" name="password" autocomplete="off" placeholder="Password" class="form-control mx-auto w-auto">
                <input type="password" name="confirmation" autocomplete="off" placeholder="Confirm Password" class="form-control mx-auto w-auto">    
            </div>
            <input type="submit" class="btn btn-primary" placeholder="Register">
        </form>
    </div>
{% endblock %}